.main_container
{
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    background-color:lightgray;
}
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius : 2em;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #D02323; 
    border-radius: 2em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #D02323; 
  }